
.myButtons{
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
}

.enabled{
  background-color: hsl(210, 100%, 50%);
  color: white;
}

.hover{
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.196);
  font-weight: bold;
}

.disabled{
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 80%);
}